@import url('colors.css');

.catalog-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow-y: auto;
}

.catalog-menu__aside {
  padding: 24px;
  padding-top: 88px;
  position: relative;
  background-color: var(--background-darkest);
  width: 100%;
  height: 100vh;

}

.catalog-menu__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* ___________baground image */

.catalog-menu__bg {
  position: absolute;
  top: -80px;
  right: -105px;
}

.catalog-menu__close {
  position: absolute;
  top: 90px;
  right: 24px;
}

.catalog-menu__title {
  position: relative;
  color: var(--font);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 32px;

}

/* ___________list catalog menu */

.catalog-menu__list ul {
  top: 0;
  padding-left: 20px;
}

.catalog-menu__list_item {
  position: relative;

}

.catalog-menu__list_item:not(:last-child) {
  margin-bottom: 18px;
}

.catalog-menu__list_item-btn {
  color: var(--font);
  font-size: 16px;
  text-decoration: none;
}

.catalog-menu__list_item-icon {
  position: relative;
}

.catalog-menu__list_item-icon:first-child::before {
  content: '';
  position: absolute;
  left: -90px;
  top: 7px;
  width: 70px;
  height: 4px;
  background-image: url(/img/menu-line-mobile.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/* ___________"accordion" - list catalog menu. if the screen size is smaller than 480px*/

.catalog-menu__accordion_list {
  padding-top: 10px;
}

.catalog-menu__accordion_list-item:not(:last-child) {
  padding-bottom: 10px;
}