:root {
  --background: #1D2533;
  --background-darkest: #111720;

  --font: #e8e9ea;
  --font-dark: #111720;
  --font-hover: rgb(181, 230, 251);

  --icons: #e8e9ea;
  --icons-hover: rgb(181, 230, 251);


  --scroll-background: #e8e9ea;
  --scroll: rgb(132, 218, 254);
  --scroll-hover: rgb(107, 208, 251);

  --modal-backgorund: #35384a;
  --modal-input-backgorund: #51535f;
}