@import url('colors.css');
@import url('breakpoint.css');

.header {
  height: 80px;
  position: relative;
  z-index: 3;
  background-color: var(--background);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
}

.header__container {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {

  position: absolute;
  left: 50%;
  top: 8px;
  transform: translate(-65%);
}

.header__links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__burger {
  color: var(--font);
  font-size: 24px;
  transition: 0.2s ease-in-out color;
  font-weight: 500;
}


.header__burger:hover {
  color: var(--font-hover);
  transition: 0.2s ease-in-out color;
}

.header__links_item:hover .header__links_item-btn-icon {
  color: var(--font-hover);
  transition: 0.2s ease-in-out color;
}

@media(max-width: 768px) {

  .header__burger {
    display: none;
  }

  .header__logo {

    position: relative;
    left: 0;
    top: 0;
    transform: translate(0);
  }

  .header__links_item:not(:first-child, :last-child) {
    display: none;
  }
}
