@import url('colors.css');

:root {
  --padding-edge-size: 24px;
}

.search {
  min-width: 850px;
  height: 570px;

  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--modal-backgorund);

  padding: var(--padding-edge-size);
  z-index: 10;
}

.search__close {
  position: absolute;
  right: var(--padding-edge-size);
}

.search__title {
  color: var(--font);
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}

.search__top {
  margin-bottom: 24px;
  overflow: hidden;

  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.search__label {
  display: block;

  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.search__input {
  width: 100%;
  height: 48px;

  padding-left: 20px;
  padding-top: 18px;

  border: none;
  overflow: hidden;

  color: var(--font);
  background: var(--modal-input-backgorund);
}

.search__floating_label {
  position: absolute;
  left: 20px;
  top: 47px;
  pointer-events: none;
  color: var(--font);
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.search__input.with_value+.search__floating_label {

  top: 25px;
  font-size: 12px;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out, color 0.2s ease-in-out;

  color: var(--font-hover);
}

@media (max-width: 1024px) {
  .search {
    min-width: auto;
    width: 700px;
  }
}

@media(max-width: 768px) {
  .search {
    width: 450px;
  }
}

@media(max-width: 480px) {
  .search {
    width: 300px;
    padding: 12px;
  }
}

@media(max-width: 320px) {
  .search {
    width: 280px;

  }
}